<html>
<head>
    <link href="/get-the-awoo-off-my-lawn/loveship.css" rel="stylesheet">
</head>
<body>
<img src="<%= targetOne %>" class="target targetOne"/>
<img src="/get-the-awoo-off-my-lawn/heart-wings.svg" class="heart"/>
<img src="<%= targetTwo %>" class="target targetTwo"/>
</body>
</html>
