<html>
<head>
    <link href="/get-the-awoo-off-my-lawn/waifuinsult.css" rel="stylesheet">
</head>
<body>
<img class="template" src="/get-the-awoo-off-my-lawn/waifu-trash-template.png"/>
<div class="waifu-wrapper" style="background-image: url('<%= avatar %>')"></div>
</body>
</html>
