* {
    margin: 0;
    padding: 0;
}

body {
    height: 344px;
    width: 450px;
    overflow: hidden;
    background: white;
}

.template {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.waifu-wrapper {
    position: absolute;
    z-index: 0;
    transform: rotate(17deg);
    left: 120px;
    top: 183px;
    width: 116px;
    height: 159px;
    background: no-repeat center;
    background-size: cover;
}

.waifu {
    width: 100%;
    height: auto;
}
